# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a

# Executables
*.exe
*.out
*.app
*.pdb
*.iobj
*.ipdb
*.log
*.tlog
VS2019/.vs
.vs/
*.db
*.opendb
build/
bin/
*.ilk
*.idb
*.tmp
src/Catacomb3D/Catacomb3D.vcxproj.user
*.C3D
