# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.iobj
*.ipdb
*.log
*.tlog
VS2015/.vs
VS2017/.vs
VS2017_llvm/.vs
*.db
*.opendb
build/
bin/
*.ilk
*.idb
*.tmp
src/Catacomb3D/Catacomb3D.vcxproj.user
